image: docker:latest

variables:
    IMAGE: 192.168.1.3:5000/$CI_PROJECT_NAME:$CI_COMMIT_REF_SLUG

stages:
    - build

build:
    stage: build
    services:
        - name: docker:dind
          alias: docker
          command: ["--insecure-registry=192.168.1.3:5000"]
    script:
        - docker login -u root -p root 192.168.1.3:5000
        - echo "login success"
        - docker build --pull -t $IMAGE .
        - docker push $IMAGE
