variables:
    IMAGE: 192.168.1.3:5000/$CI_PROJECT_NAME:$CI_COMMIT_REF_SLUG
    DOCKER_TLS_CERTDIR: ""

stages:
    - build

build:
    stage: build
    image: docker:latest
    services:
        - name: docker:dind
    script:
        - docker build -t $IMAGE .
        - docker login -u root -p root 192.168.1.3:5000
        - echo "login success"
        - docker build --pull -t $IMAGE .
        - docker push $IMAGE
